.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}


.form-row label{
    width: 10%;
}

.form-row input {
    width: 90% !important;
}



//buttons
.card-action-button{
    width: fit-content;
}
