.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}


//buttons
.card-action-button{
    width: fit-content;
}

.no-style-link{
    text-decoration: none;
}


.right-text {
    text-align: right !important;
}
