.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}


//buttons
.card-action-button{
    width: fit-content;
}

.no-style-link{
    text-decoration: none;
}


.right-text {
    text-align: right !important;
}

a{
    text-decoration: none !important;
    color: black;
}

a:hover{
    color:black;
}

.even{
    display:flex;
    justify-content:space-evenly;
}

.list-group-flush{
    padding:20px;
}

#admin-header{
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    color:white;
}
