.public-navbar{
    width:100%;
    background-color:black;
}


.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.public-logo{
    width: 7rem;
    height: auto;
}

