.add-new-event{
    background-color: black;
    width: 10rem;
    color: #FFD900;
    height: 4vh;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.add-new-event:hover {
    cursor:pointer;
}

.add-new-event p{
    margin-bottom: 0px !important;
    margin-right:1rem;
}


.events-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.event-card-image{
    height: 19vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
}


.custom-button{
    width:45%;
    border-radius:5px;
    border:1px solid #FFD900;
    color: #FFD900;
}

.custom-button:hover{
    background-color:#FFD900;
    color:black;
}

.button-row{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.event-card{
    background: black;
    border-radius: 10px;
}

.admin-event-title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.admin-event-description{
    color: white;
    font-weight: 100;
    text-align: center;
}

.add-button{
    background: black;
    color: #FFD900;
    display: flex;
    justify-content: space-around;
    width: 10rem;
    align-items: baseline;
}

.add-button:hover{
    color: #FFD900 !important;
}

.event-info-row span{
    width: fit-content;
}

.event-info-row{
    justify-content: space-around;
}

.card-title-text{
    text-transform: uppercase;
}

.custom-card-title{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
